@model ChartsViewModel  

<script>
    $().ready(function () {       
        $("#content").slideToggle(500);
        $("#DashBoard").toggleClass("active");
    });
</script>
<form action="@Url.Action("RefreshDashBoard", "DashBoard")" method="POST" class="ajax-form">
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <img src="~/diane.svg" height="50" width="50" />
                <span class="userTitle"> Diane </span>
            </div>
            <div class="col-md-6" style="margin-bottom:10px">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <label>Start :  </label>
                        @(Html.Kendo().DatePicker()
          .Name("startDate")
          .Value(Model.StartDate)
                        )
                    </div>
                    <div class="col-md-6">
                        <div class="row rowNoBottom">
                            <div class="col-md-9">
                                <label>End :  </label>
                                @(Html.Kendo().DatePicker()
          .Name("endDate")
          .Value(Model.EndDate)
                                )
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-default">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="text-align:center;padding-top:100px;padding-bottom:100px">
            @if (Model.Charts[0].NbData > 0)
            {
                @Html.Raw(Model.Charts[0].ToHtmlString())
            }
            else
            {
                <img src="~/images/nodatafound.gif" />
            }
        </div>



        <div class="col-md-6" style="text-align:center;padding-top:100px;padding-bottom:100px">
           @if (Model.Charts[1].NbData > 0)
            {
            @Html.Raw(Model.Charts[0].ToHtmlString())
           }
           else
           {
                <img src="~/images/nodatafound.gif" />
           }
        </div>

        <div class="row">
            <img src="~/boy.svg" height="50" width="50" />
            <span class="userTitle"> Clément </span>
        </div>

        <div class="col-md-6" style="text-align:center">
            @Html.Raw(Model.Charts[2].ToHtmlString())
        </div>

        <div class="col-md-6" style="text-align:center">
            @Html.Raw(Model.Charts[3].ToHtmlString())
        </div>
    </div>
    <!-- Modal -->

    <div class="modal  fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div  id="objInfos" class="modal-dialog" role="document">

                    @Html.Partial("ObjectifInfo")

        </div>
    </div>
</form>